<?php 

// error_reporting(E_ALL); 
 
  /** 
   * --------------------------------------------------------------- 
   * APPLICATION CONFIG 
   * --------------------------------------------------------------- 
   */ 
    // setup SYSTEM PREFIX 
    define('SYS_PREFIX'  , 'sys_'); 
    // setup App name 
    define('APP_NAME'    , 'APP NAME'); 
    define('HEAD_NAME'    , 'Working Space'); 
    // setuo App version 
    define('APP_VERSION' , '2.1'); 
    // setup App owner 
    define('APP_OWNER'   , 'APP NAME'); 
    // setup App theme 
    define('APP_THEME'   , ''); 
    // setup App logo 
    define('APP_LOGO'    , 'assets/img/logo.png'); 
    // setup App sub logo 
    define('APP_SUB_LOGO', ''); 
    // setup App fav icon 
    define('APP_FAVICON' , ''); 
    // setup App Prefix 
    define('APP_PREFIX'  , NULL); 
    // setup App Port 
    define('APP_PORT'  , '');  
    define('APP_GMT'  , 'Asia/Jakarta');  
    define('APP_PRODUCTION'  , FALSE);   // PRODUCTION TRUE


/** 
   * --------------------------------------------------------------- 
   * MQTT CONFIG 
   * --------------------------------------------------------------- 
   */ 
    define('MQTT_HOST'  , '192.168.1.232');  
    define('MQTT_PORT'  , 1883);  
    define('MQTT_USERNAME'  , 'test');  
    define('MQTT_PASSWORD'  , 'test');  
    define('MQTT_CLIENT_ID'  , 'deskbooking-bi1'); 
    define('MQTT_WS_PORT'  , 15675);   // PAKE PAHO/WEB MQTT
    

    
    define('MQTT_ACTIVITIES_TOPIC'  , 'deskbooking/activities/#'); 
    define('MQTT_ACTIVITIES_TOPIC_STOMP'  ,'/queue/deskbooking.activities.desk'); 


/** 
   * --------------------------------------------------------------- 
   * CLOUD CONFIG 
   * --------------------------------------------------------------- 
   */ 
    // setup SYSTEM PREFIX 
    define('CLOUD_URL'  , 'http://localhost/blive/'); 
    define('CLOUD_PATH'  , 'load/alldata/'); 
    // setup App Port 
 
  /** 
   * -------------------------------------------------------------- 
   * DATABASE CONFIG 
   * -------------------------------------------------------------- 
   */ 
 
    // setup database host 
    define('DB_HOST'    , 'localhost'); 
    // setup database name 
    define('DB_DATABASE', 'deskbooking');
    // setup username 
    define('DB_USERNAME', 'root'); 
    // setup password 
    define('DB_PASSWORD', ''); 
 
  /** 
   * -------------------------------------------------------------- 
   * DYNAMIC CONFIG 
   * -------------------------------------------------------------- 
   */ 
    // setup dynamic content url 
    define('CONTENT_URL' , NULL); 
    // setup dynamic css of page 
    define('CSS_PAGE'    , NULL); 
    // setup dynamic including file js of page 
    define('JS_PAGE'     , NULL); 
    // setup dynamic including script js of page 
    define('JS_ACTION'   , NULL); 
    // setup dynamic page name 
    define('PAGE_NAME'   , NULL); 
  /** 
   * -------------------------------------------------------------- 
   * Camera CONFIG 
   * -------------------------------------------------------------- 
   */ 
    define('CAMERA_URL' , "http://192.168.1.222/bio_fr/"); 

  /** 
   * ------------------------------------------------------------- 
   * BASE ENCRYPT FILE KEY
   * ------------------------------------------------------------- 
   */ 

    define('ENCRYPKEY'  , "zLtBu8pnyesROaHT4NWs2QA6ovzpAu07"); 



  /** 
   * -------------------------------------------------------------- 
   * BIO Access Server CONFIG 
   * -------------------------------------------------------------- 
   */ 
    define('BIO_ACCESS_URL' , "http://localhost:3000/"); 
    // http://localhost::3000/pulse-door/ip_address/access_id/pin_number
    define('BIO_ACCESS_URL_PULSE_DOOR_PIN' , BIO_ACCESS_URL."pulse-door/"); 

  /** 
   * -------------------------------------------------------------- 
   * FALCO & GB Access Server CONFIG 
   * -------------------------------------------------------------- 
   */ 
    define('FALCO_ACCESS_URL' , "http://localhost:88/VaultSite/APIwebservice.asmx"); 
    // http://localhost::3000/pulse-door/ip_address/access_id/pin_number
    define('GB_ACCESS_URL' , "http://localhost:8080/people?"); 
    define('GB_ACCESS_SAVE' , "http://local.guestbook.com/guest/save/api"); 

  /** 
   * -------------------------------------------------------------- 
   * MICROSOFT APPLICATION
   * -------------------------------------------------------------- 
   */ 
  // $client_id = "d61f0164-a7c8-43e6-a43d-98d9e3663069"; // Piranti
// $client_secret = "d344a671-81df-446e-bdd5-14e9e3f0603d";  // Piranti
    // define('MS_365_CLIENT_ID' , "954a8e77-db1e-474c-a3f5-22a66538b982"); 
    // http://localhost::3000/pulse-door/ip_address/access_id/pin_number
    // define('MS_365_CLIENT_SECRET' , "MS_365_CLIENT_SECRET"); 

    define('MS_365_CLIENT_ID' , "MS_CLIENT_ID"); 
    define('MS_365_CLIENT_SECRET' , "MS_365_CLIENT_SECRET"); 
    define('MS_365_TENANT_USERS' , "MS_365_TENANT_USERS"); 
    
    define('MS_365_TENANT' , "common"); 
    define('MS_365_SCOPE' , ["User.Read"]); 
    define('MS_365_OPEN' , "integration/open/connection/m365"); 
    define('MS_365_CALLBACK' , "integration/callback/connection/m365"); 
    define('MS_365_CALLBACK_DISCONNECTED' , "integration/callback/disconnection/m365"); 
    define('MS_365_DISCONNECTED' , "https://login.microsoftonline.com/common/oauth2/v2.0/logout?post_logout_redirect_uri="); 
    define('MS_365_CREATEEVENT_BODY' , '{"subject":"","start":{"dateTime":"","timeZone":"UTC"},"end":{"dateTime":"","timeZone":"UTC"},"location":{"displayName":""},"attendees":[{"emailAddress":{"address":"email","name":""},"type":"required"},{"emailAddress":{"address":"roomemail","name":""},"type":"Resource"}],"organizer":{"emailAddress":{"name":"","address":""}}}'); 
    define('MS_365_GRAPH' , "https://graph.microsoft.com/v1.0/users/"); 
    define('MS_365_GRAPH_PATH_EVENT' , "/events"); 
    define('MS_365_GRAPH_PATH_EVENT_CANCEL' , "/cancel"); 

  /** 
   * -------------------------------------------------------------- 
   * BIO Admin Email
   * -------------------------------------------------------------- 
   */ 
    define('ADMIN_EMAIL' , "tmperdana157@gmail.com"); 
    // http://localhost::3000/pulse-door/ip_address/access_id/pin_number
    define('ADMIN_EMAIL_NAME' ,"ADMIN EMAIL"); 







  /** 
   * ------------------------------------------------------------- 
   * PATH AND DIRECTORIES CONFIG 
   * ------------------------------------------------------------- 
   */ 
    //  
    //  
    define('BASE_APP'         , '/application'); 
    //  
    define('BASE_ASSETS'      , '/assets'); 
    //  
    define('BASE_SYS'         , '/system'); 
    // 
    define('BASE_DOCS'        , '/docs'); 
 
    define('BASE_VENDOR'      , '/vendor'); 
    //  
    define('SERVER_NAME'      , $_SERVER['SERVER_NAME']); 
    //  
    define('SERVER_PATH'      , substr($_SERVER['PHP_SELF'], 0, strrpos($_SERVER['PHP_SELF'], '/'))); 
    //  
    define('PROTOCOL'         , ((isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == "on") ? "https" : "http"));
    define('SERVER_HOST'      , "://" . $_SERVER['HTTP_HOST']);
    define('SCRIPT_NAME'      , str_replace(basename($_SERVER['SCRIPT_NAME']), "", $_SERVER['SCRIPT_NAME']));
    define('PP_NAME'          , PROTOCOL.SERVER_HOST.SCRIPT_NAME);

    define('ROOT_URL'         , PROTOCOL .  '//' . SERVER_NAME . ((APP_PORT != "") ? ":" . APP_PORT : "") . SERVER_PATH); 
    //  
    define('BASE_APPURL'      , PP_NAME);

    // define('BASE_APPURL'      , "http://192.168.1.222/telkom/TLT/");
    // define('BASE_APPURL'      , "http://192.168.1.222/telkom/TLT/");
    define('APP_URL'          , '.' . BASE_APP); 
    //  
    define('ASSETS_URL'       , '.' . BASE_ASSETS); 
    define('ASSETS_QR'       ,'assets/qr/' ); 
    //  
    define('SYS_URL'          , '.' . BASE_SYS); 
    //  
    define('DOCS_URL'         , '.' . BASE_DOCS); 
 
    define('VENDOR_URL'       , '.' . BASE_VENDOR); 
    //  
    define('ROOT_DIR'         , __DIR__); 
    //  
    define('APP_DIR'          , ROOT_DIR . BASE_APP); 
    //  
    define('ASSETS_DIR'       , ROOT_DIR . BASE_ASSETS); 
    //  
    define('SYS_DIR'          , ROOT_DIR . BASE_SYS); 
    //  
    define('DOCS_DIR'         , ROOT_DIR . BASE_DOCS); 
 
    define('VENDOR_DIR'       , ROOT_DIR . BASE_VENDOR);

   
